@import "tailwindcss";

/* Całkowity reset marginesów i paddingów narzuconych przez Vite */
:root, body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important; /* To usuwa biały pasek po bokach */
  display: block !important;  /* To usuwa centrowanie body */
}

* {
  box-sizing: border-box;
}