@import "tailwindcss";

/* rem padding */
:root, body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important; /* remove white line */
  display: block !important;  /* rem body center */
}

* {
  box-sizing: border-box;
}